.l-wrap-inner {
    @include setMaxWidth();
    margin: 0 auto;
}
.third-section {
    margin-bottom: 92px;
}
.stopScroll {
    overflow: hidden;
}
  
@media screen and (max-width: 1163px) {
    .l-wrap-inner {
        @include setMaxWidth(900px)
    }
}
@media screen and (min-width: 1045px) {
    .md-hidden {
        display: none;
    }
}
@media screen and (max-width: 920px) {
    .l-wrap-inner {
        @include setMaxWidth(800px);
        padding: 0 40px;
    }
}
@media screen and (max-width: 600px) {
    .l-wrap-inner {
        @include setMaxWidth(500px);
        padding: 0 20px;
    }
}
@media screen and (max-width: 450px) {
    .l-wrap-inner {
        @include setMaxWidth(350px);
        padding: 0 10px;
    }
}
@media screen and (max-width: 380px) {
    .l-wrap-inner {
        @include setMaxWidth(300px);
    }
}
    
